{% extends 'base_layout.html' %}

{% block content %}

<title>PhysioBoost: View Injury</title>
 <!-- START CONTENT -->
 <section id="content">
        
    <!--breadcrumbs start-->
    <div id="breadcrumbs-wrapper">
        <!-- Search for small screen -->
        <div class="header-search-wrapper grey hide-on-large-only">
            <i class="mdi-action-search active"></i>
            <input type="text" name="Search" class="header-search-input z-depth-2" placeholder="Explore Materialize">
        </div>
      <div class="container">
        <div class="row">
          <div class="col s12 m12 l12">
            <h5 class="breadcrumbs-title">View Injury</h5>
            <ol class="breadcrumbs">
                <li><a href="index.html">Dashboard</a></li>
                <li><a href="#">Injuries</a></li>
                <li class="active">View Injury</li>
            </ol>
            {% for message in messages %}
            <div id="card-alert" class="card {{ message.tags }}">
                <div class="card-content white-text">
                  <p>{{ message }}</p>
                </div>
                <button type="button" class="close white-text" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true">×</span>
                </button>
              </div>
          </div>
          {% endfor %}
          </div>
        </div>
      </div>
    </div>
    <!--breadcrumbs end-->
    

    <!--start container-->
    <div class="container">
      <div class="section">
          <div class="row">
            
            <div class="col s12 m8 l12">
              <h4 class="center">{{ injury.name }}</h4>
              <table class="striped">
                    <tr>
                      <th>Description</th>
                      <td>{{ injury.description }}</td>
                    </tr>

                    <tr>
                      <th>Symptoms</th>
                      <td>{{ injury.symptoms }}</td>
                    </tr>

                    <tr>
                      <th>Diagnostic Tests</th>
                      <td>{{ injury.diagnostic_tests }}</td>
                    </tr>

                    <tr class="{{ injury.classification|cut:' ' }}">
                      <th>Classification</th>
                      <td>{{ injury.classification }}</td>
                    </tr>
                    <tr>
                      <th>Healing</th>
                      <td>{{ injury.healing }}</td>
                    </tr>
                    <tr>
                      <th>Complications</th>
                      <td>{{ injury.complications }}</td>
                    </tr>
                    <tr>
                      <th>Treatment</th>
                      <td>{{ injury.treatment }}</td>
                    </tr>
                    
              </table>
            </div>
          </div>
        </div> 
        <br>
      <!-- Floating Action Button -->
        <div class="fixed-action-btn" style="bottom: 50px; right: 19px;">
            <a class="btn-floating btn-large">
              <i class="mdi-action-stars"></i>
            </a>
            <ul>
              <li><a href="css-helpers.html" class="btn-floating red"><i class="large mdi-communication-live-help"></i></a></li>
              <li><a href="app-widget.html" class="btn-floating yellow darken-1"><i class="large mdi-device-now-widgets"></i></a></li>
              <li><a href="app-calendar.html" class="btn-floating green"><i class="large mdi-editor-insert-invitation"></i></a></li>
              <li><a href="app-email.html" class="btn-floating blue"><i class="large mdi-communication-email"></i></a></li>
            </ul>
        </div>
        <!-- Floating Action Button -->
        
    </div>
    <!--end container-->

  </section>
  <!-- END CONTENT -->
{% endblock %}