{% extends 'base_layout.html' %}
{% block content %}
{% load static from static %}
<title>Player Profile</title>
<section id="content">
    <!--breadcrumbs start-->
  <div id="breadcrumbs-wrapper">
    <!-- Search for small screen -->
    <div class="header-search-wrapper grey hide-on-large-only">
        <i class="mdi-action-search active"></i>
        <input type="text" name="Search" class="header-search-input z-depth-2" placeholder="Explore Materialize">
    </div>
  <div class="container">
    <div class="row">
      <div class="col s12 m12 l12">
        <h5 class="breadcrumbs-title">View Leagues</h5>
        <ol class="breadcrumbs">
            <li><a href="index.html">Dashboard</a></li>
            <li><a href="#">Leagues</a></li>
            <li class="active">View Leagues</li>
        </ol>
        {% for message in messages %}
        <div id="card-alert" class="card {{ message.tags }}">
            <div class="card-content white-text">
              <p>{{ message }}</p>
            </div>
            <button type="button" class="close white-text" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
          </div>
      </div>
      {% endfor %}
      </div>
    </div>
  </div>
</div>
<!--breadcrumbs end-->               

  <!--start container-->
  <div class="container">

    <div id="profile-page" class="section">
      
      <!-- profile-page-content -->
      <div id="profile-page-content" class="row">
        <!-- profile-page-wall -->
          <div id="stats">
            <h4 class="header center">Leagues</h4>
            <div class="row">
              {% for league in leagues %}
              <div class="col s12 m12 l6">
                <ul class="collapsible popout collapsible-accordion" data-collapsible="accordion">
                  <li>
                    <div class="collapsible-header"><i class="mdi-action-assignment"></i><img height="20px" src="/media/{{ league.image }}" alt="Club Image" class="circle clubimage"> {{ league.name }}</div>
                    <div class="collapsible-body">
                        <div>
                        <table class="striped">
                            {% for club in clubs%}
                            <tr>
                              <td class="league-clubs"><a href="{% url 'clubs:view_clubs' id=club.id %}">{{ club.name }}</a></td>
                            </tr>
                            {% endfor %}
                        </table>
                        </div>
                </div>
                  </li>
                </ul>
              </div>
              {% endfor %}
            </div>
        </div>
  </div>
  </div>
  <!--end container-->
</section>
<!-- END CONTENT -->

{% endblock %}